// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #E6E4D6;
  // position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.97);

  .navigation {
    padding-top: 0.5rem;
    float: right;
  }

  .nav-action {
    padding-left:0.6rem;
    padding-right:0.6rem;

    a {
      // color: #505050;
      font-size: 90%;
    }
  }
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #181818;
  float: left;

  a {
    color: #181818;
  }

  line-height: 1.0;

  .tagline {
    font-size: 68%;
    font-weight: 300;
  }
}
